.container {
    width: 765.32px;
    margin: 0 auto;
}

#tt {
    text-align: center;
    font-family: sans-serif;
}

#topMenu {
    height: 30px;
    width: 765.32px;
}

#topMenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#topMenu ul li {
    color: white;
    background-color: #4286f4;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.menuLink, .submenuLink {
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum;
}

.menuLink {
    color: white;
}

.topMenuLi:hover .menuLink {
    color: red;
    background-color: #77a7f4;
}

.submenuLink {
    color: #4286f4;
    background-color: white;
    border: solid 1px black;
    margin-top: -1px;
}

.longLink {
    width: 190px;
}

.submenu {
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
}

.topMenuLi:hover .submenu {
    height: 93px;
}

.submenuLink:hover {
    color: red;
    background-color: #dddddd;
}

#content {
    width: 140px;
    margin-top: 30px;
    padding: 0 5px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 8px;
    height: 300px;
    float: left;
    font-size: 12px;
    font-family: : "Nanumsquare";
}

.box {
    width: 447.66px;
    margin-top: 30px;
    padding: 0 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    height: 300px;
    float: left;
    font-size: 12px;
    font-family: : "Nanumsquare";
}

.headcopy {
    position: absolute;
    background-color: white;
    padding: 8px;
    top: 130px;
}

.headcopy h4 {
    margin: 0;
}
